<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="com.wdq.yun.component.log.LoggerStartupListener" />

    <property name="ENCODER_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{5} - %msg%n"/>

    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <timestamp key="byHour" datePattern="yyyyMMddHH"/>
    <timestamp key="byMinute" datePattern="yyyyMMddHHmm"/>
    <timestamp key="bySecond" datePattern="yyyyMMddHHmm"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--按天轮转 -->
            <fileNamePattern>${path}/@project.artifactId@/${env}_%d{yyyyMMddHH}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${level}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>